<h1>All celebrities</h1>

{{#each allCeleb}}
    <a href="/celebrities/celebrities/{{_id}}"><h2>{{name}}</h2></a>
{{/each}}

  <button class="bt1" onclick="window.location.href='/'"> Home</button> 
  <button class="bt1" onclick="window.location.href='/celebrities/celebrities/create'"> Add celebrity</button> 

