

<div class="backListCelebs"  >
  
<div class="cardCeleb">
<form action="/celebrities/celebrities/{{_id}}/edit" method="post">
    <input type="text" name="name" value=" {{name}}">
    <input type="text" name="occupation" value=" {{occupation}}">
    <input type="text" name="catchPhrase" value=" {{catchPhrase}}">   
    <button type="submit">Update celebrity</button>
</form>
</div>
</div>

