<h2>Update celebrity</h2>

<form action="/celebrities/celebrities/{{_id}}/edit" method="post">
    <input type="text" name="name" value="{{name}}">
    <input type="text" name="occupation" value="{{occupation}}">
    <input type="text" name="catchPhrase" value="{{catchPhrase}}">   
    <button type="submit">Update celebity</button>
</form>

 <button class="bt1" onclick="window.location.href='/'"> Home</button> 