<h2>Add celebrity</h2>

<form action="./create" method="post">
    <input type="text" name="name">
    <input type="text" name="occupation">
    <input type="text" name="catchPhrase">
    <button type="submit">Add new celebity</button>
</form>

<button class="bt1" onclick="window.location.href='/'"> Home</button> 