<div class="backListCelebs"  >
  
<div class="cardCeleb">

<form action="./create" method="post">
    <input type="text" name="name" placeholder="Name">
    <br>
    <input type="text" name="occupation" placeholder="Occupation">
    <br>
    <input type="text" name="catchPhrase" placeholder="CatchPhrase">
    <br>
    <button type="submit">Add new celebrity</button>
</form>
</div>
</div>

