<h1>Welcome to Movies app</h1>

<button class="bt1" onclick="window.location.href='/celebrities/celebrities'">Check celebrities</button>
<button class="bt1" onclick="window.location.href='/celebrities/celebrities/create'"> Add celebrities</button> 
<button class="bt1" onclick="window.location.href='/movies/movies/create'"> Add movie</button> 
<button class="bt1" onclick="window.location.href='/movies/movies'">Check movies</button>
