<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
 <link href="https://fonts.googleapis.com/css2?family=Alumni+Sans&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
        <a href="/">Home</a>
        <a href="/celebrities/celebrities">Check celebrities</a>
        <a href="/celebrities/celebrities/create"> Add celebrities</a> 
         <a href="/movies/movies">Check movies</a>
        <a href="/movies/movies/create">Add movie</a>            
     </header>
    {{{body}}}
  </body>
</html>
